.ad-wrapper {
  padding-inline: 1.5rem;
  padding-block: 1rem;
  margin-bottom: 2rem;
  background-color: var(--clr-inverted);
  background-color: var(--digi--color--background--primary);
  border-radius: var(--digi--border-radius--secondary);
  border: 1px solid var(--digi--color--border--secondary);

  h2 {
    margin: 0;
  }
}

.ad-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.education-ad-details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1rem;
  text-transform: capitalize;

}

.education-ad-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;


}

.education-credits {
  margin-top: 1rem;
  background-color: var(--clr-primary);
  font-weight: 700;
  color: var(--clr-inverted);
  width: fit-content;
  padding: var(--digi--padding--smaller);
  border-radius: var(--digi--border-radius--secondary);
}

.education-ad-label {
  font-weight: 500;
  color: #555;
  min-width: 90px;
}

.education-ad-icon {
  display: flex;
  align-items: center;
}