.ed-ad-wrapper-link {
  text-decoration: none;
  color: inherit;
}

.ed-ad-details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1rem;


  text-transform: capitalize;

}

.ed-ad-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:first-child {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }
}

.ed-ad-label {
  font-weight: 500;
  color: #555;
  min-width: 90px;
}

.ed-ad-icon {
  display: flex;
  align-items: center;
}