:root {
  --clr-primary: #380367 !important;
  --clr-secondary: #08cd8f !important;
  --clr-inverted: #FFFFFF !important;

  /* Text */
  --digi--color--text--primary: #1D2327 !important;
  --digi--color--text--secondary: #5A6772 !important;
  --digi--color--text--inverted: var(--clr-inverted) !important;
  --digi--color--text--link: var(--clr-primary) !important;
  --digi--color--text--link-hover: #069c6c !important;
  /* A slightly darker shade of secondary */
  --digi--color--text--link-visited: var(--clr-secondary) !important;
  --digi--color--text--neutral: #8A95A1 !important;
  --digi--color--text--danger: #DC3545 !important;

  /* Background */
  --digi--color--background--primary: #ffffff !important;
  --digi--color--background--secondary: #f9f9f9 !important;
  --digi--color--background--tertiary: #D1D9E0 !important;
  --digi--color--background--inverted-1: var(--clr-primary) !important;
  --digi--color--background--inverted-2: #2a024f !important;
  /* A slightly darker shade of primary */
  --digi--color--background--inverted-3: #1c0135 !important;
  /* An even darker shade of primary */
  --digi--color--background--inverted-4: #CED4DA !important;
  --digi--color--background--complementary-1: var(--clr-secondary) !important;
  --digi--color--background--complementary-2: #FD7E14 !important;
  --digi--color--background--neutral-1: #F8F9FA !important;
  --digi--color--background--neutral-2: #CED4DA !important;
  --digi--color--background--neutral-3: #AAB5C1 !important;
  --digi--color--background--neutral-4: #8A95A1 !important;
  --digi--color--background--neutral-5: #d4edda !important;
  --digi--color--background--neutral-6: #DAE0E5 !important;
  --digi--color--background--neutral-7: #d1ecf1 !important;
  --digi--color--background--informative: var(--clr-secondary) !important;
  --digi--color--background--success-1: var(--clr-secondary) !important;
  --digi--color--background--success-2: #d4edda !important;
  --digi--color--background--success-3: #a3d9b1 !important;
  --digi--color--background--warning-1: #FFC107 !important;
  --digi--color--background--warning-2: #FFF3CD !important;
  --digi--color--background--warning-3: #FFEBA5 !important;
  --digi--color--background--danger-1: #DC3545 !important;
  --digi--color--background--danger-2: #F8D7DA !important;
  --digi--color--background--danger-3: #F1B0B7 !important;
  --digi--color--background--input: var(--clr-inverted) !important;
  --digi--color--background--input-empty: #F8F9FA !important;
  --digi--color--background--radio-primary: var(--clr-primary) !important;
  --digi--color--background--radio-secondary: var(--clr-secondary) !important;
  --digi--color--background--radio-marker: var(--clr-inverted) !important;
  --digi--color--background--checkbox-primary: var(--clr-primary) !important;
  --digi--color--background--checkbox-secondary: var(--clr-secondary) !important;
  --digi--color--background--checkbox-marker: var(--clr-inverted) !important;
  --digi--color--background--inverted-5: #CED4DA !important;
  --digi--color--background--inverted-6: #069c6c !important;
  /* A slightly darker shade of secondary */
  --digi--color--background--neutral-8: var(--clr-inverted) !important;
  --digi--color--background--danger-4: #C82333 !important;

  /* Border */
  --digi--color--border--primary: #AAB5C1 !important;
  --digi--color--border--secondary: #CED4DA !important;
  --digi--color--border--tertiary: #CED4DA !important;
  --digi--color--border--quaternary: #CED4DA !important;
  --digi--color--border--focus: var(--clr-secondary) !important;
  --digi--color--border--success: var(--clr-secondary) !important;
  --digi--color--border--warning: #FFC107 !important;
  --digi--color--border--danger: #DC3545 !important;
  --digi--color--border--informative: var(--clr-secondary) !important;
  --digi--color--border--inverted: var(--clr-inverted) !important;
  --digi--color--border--neutral-1: #d4edda !important;
  --digi--color--border--neutral-2: #D1D9E0 !important;
  --digi--color--border--neutral-3: #8A95A1 !important;
  --digi--color--border--neutral-4: #DAE0E5 !important;
  --digi--color--border--neutral-5: #AAB5C1 !important;
  --digi--color--border--radio-primary: var(--clr-primary) !important;
  --digi--color--border--radio-secondary: #5A6772 !important;
  --digi--color--border--radio-focus: var(--clr-secondary) !important;
  --digi--color--border--checkbox-primary: var(--clr-primary) !important;
  --digi--color--border--checkbox-secondary: #5A6772 !important;
  --digi--color--border--checkbox-focus: var(--clr-secondary) !important;
  --digi--color--border--warning-2: #FFC107 !important;
  --digi--color--border--warning-3: #FFC107 !important;
  --digi--color--border--inverted-2: #069c6c !important;
  /* A slightly darker shade of secondary */
  --digi--color--border--inverted-3: #2a024f !important;
  /* A slightly darker shade of primary */

  /* Icons */
  --digi--color--icons--primary: #5A6772 !important;
  --digi--color--icons--secondary: #AAB5C1 !important;
  --digi--color--icons--inverted: var(--clr-inverted) !important;
  --digi--color--icons--complementary-1: var(--clr-secondary) !important;
  --digi--color--icons--complementary-2: #069c6c !important;
  /* A slightly darker shade of secondary */
  --digi--color--icons--complementary-3: var(--clr-primary) !important;
  --digi--color--icons--success: var(--clr-secondary) !important;
  --digi--color--icons--warning: #FFC107 !important;
  --digi--color--icons--danger: #DC3545 !important;
  --digi--color--icons--informative: var(--clr-secondary) !important;
}