@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';
@import "./customTheme.css";

.app-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.x>* {
  border: 1px solid black;
  margin-top: 1rem;
  border-radius: var(--digi--border-radius--tertiary);

}

.search-container :is(h2, span) {
  color: var(--digi--color--text--inverted) !important;
}

.digi-logo__img {
  display: none !important;
}

.digi-logo__system-name::before {
  display: none !important;
}